
    <div class="container">
        <h1>Listado de items hola people: </h1>
        <ul>
            {{#each items}}
            <li>{{name}} - {{description}}</li>
            {{/each}}
        </ul>
    </div>

    {{> footer}} <!-- Incluye el partial footer.hbs aquí -->
