<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestJS List App</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" >
</head>

<body>
    <div class="container">
        <h1>Listado de items: </h1>
        <ul>
            {{#each items}}
            <li>{{name}} - {{description}}</li>
            {{/each}}
        </ul>
    </div>
</body>

</html>