<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestJS HTML App</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Listado de ítems</h1>
    <ul>
        {{#each items}}
        <li>{{name}} - {{description}}</li>
        {{/each}}
    </ul>
</body>

</html>