
    <div class="container">
        <h1>Listado de items: </h1>
        <ul>
            {{#each items}}
            <li>{{name}} - {{description}}</li>
            {{/each}}
        </ul>
    </div>

<footer><p>This is a footer</p></footer>
<nav><p>This is a nav guach</p></nav>
